<table>
	<tr>
		<td>
			<h1>Hey you,</h1>
		<td>	
	</tr>
	<tr>
		<td>
			<p>
				I'm thrilled to welcome you to the Fivemarks community. I hope you'll find the best places for your upcoming travels and will share your best tips about the cities you've been to.
			</p>
			<p>	
				The community is all about finding the best places in the world whether they're beautiful, cheap, weird, fun, hazardous or whatever... 
			</p>
			<p>	
				When adding a place, just ask yourself: Does it really belongs to my black book?
			</p>
			<p>	
				See ya!
			</p>	
		</td>
	</tr>
</table>	



