.page-wrapper {
	min-height: 95vh;
}
#story {
	p {
		font-size:22px;
	}

	h2 {
		font-size: 36px;
		font-weight: 700;
	}
}
.places-row {
    height: 90vh;
    z-index: 2;
    //overflow: scroll;
}
.places-list-wrapper {
	//overflow: scroll;
	max-height: 60vh;
}

.see-more {
	position: relative;
	background: lightskyblue;
	height: 50px;
	width: 150px;
	margin: 0 auto;
	border-radius: 99px;
	margin-top:10px;
	margin-bottom: 10px;
	padding-top: 13px;
	transition: background-color linear 0.2s;
	cursor: pointer;
	&:hover, &:active {
		background: lighten(lightskyblue, 10);
	}
	
	p {
			font-weight: 400;
			color: white;
			margin:0;
	}
}
.black-books-results > .text-center > h1 {
	color: $gray-light;		
	font-weight: $weight-bold;
}
@media (max-width: 768px) {
    .get-full-width {
    	padding-left: 0px;
    	padding-right: 0px;
    	width: 100%; 
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .activity-list, .black-book-list, .place-list {
    	& > .clear-toto:nth-child(4n)::before {
	      content: '';
	      display: table;
	      clear: both;
    	}
    }	
}
@media (min-width: 1200px) {
    .activity-list, .black-book-list, .place-list {
    	& > .clear-toto:nth-child(6n)::before {  
	      content: '';
	      display: table;
	      clear: both;
    	}
    }	
}