//navbar
$navbar-height: 30px;
$navbar-vertical-padding: 10px;
$navbar-horizontal-padding: 50px;
$navbar-border-bottom-width: 0;

//button
// Set your navbar button
$btn-height: 40px;
$btn-horizontal-padding: 25px;
$btn-top-border-width: 0;
$btn-top-border-color: transparent;
$btn-right-border-width: 0;
$btn-right-border-color: transparent;
$btn-bottom-border-width: 1px;
$btn-bottom-border-color: transparent;
$btn-left-border-width: 0;
$btn-left-border-color: transparent;
$btn-margin-top: ($navbar-height + 2 * $navbar-vertical-padding - $btn-height - $btn-top-border-width - $btn-bottom-border-width) / 2;

//black_book
$black_bookplace-height: 300px;