/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");

// Font-size and line-height
$base-size: 16px;
$bigger-size: 20px;
$base-height: 1.4;
//Font weight
$weight-light: 100;
$weight-regular: 400;
$weight-bold: 600;

$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Montserrat", "sans-serif";