commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true 
files:
  "/etc/nginx/conf.d/httpd.conf":
    mode: '000755'
    content: |
      server { 
        location / {
          if ($filename ~* ^.*?\.(eot)|(ttf)|(woff)$){
            add_header Access-Control-Allow-Origin *;
          }
        }
      }  
  "/etc/nginx/conf.d/cors.conf":
    mode: '000755'
    content: |
      server { 
        location / {
          if ($filename ~* ^.*?\.(eot)|(ttf)|(woff)$){
            add_header Access-Control-Allow-Origin *;
          }
        }
      }     