files:
  "/etc/nginx/conf.d/cors.conf":
    mode: "000777"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        client_max_body_size 50M;
        root /app/public;
        try_files $uri @unicorn_server;
        location @unicorn_server {
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header Host $http_host;
          #proxy_set_header X-Forwarded-Proto https; # if use ssl
          proxy_redirect off;
          proxy_pass http://unicorn_server;
        }
        location ~ ^/(assets|images|javascripts|stylesheets|swfs|system)/ {
          gzip_static on;
          expires max;
          add_header Cache-Control public;
          add_header Last-Modified "";
          add_header ETag "";
          open_file_cache max=1000 inactive=500s;
          open_file_cache_valid 600s;
          open_file_cache_errors on;
          break;
        }
        location / {
          if ($http_origin ~* ((https|http)?://[^/]*\.fivemarks\.in(:[0-9]+)?)) {
            add_header 'Access-Control-Allow-Origin' "$http_origin";
          }
        }
      }