= render partial: '././black_books_show_partials/black_book', locals: {black_book: activity.trackable, caption: "#{activity.trackable.user.first_name || activity.trackable.user.username} has created a new black book"}