.item.col-xs-12.col-sm-6.col-lg-4.row-space-8
	.black-book.drop-shadow
		= render partial: 'black_books/show_partials/black_book', locals: {black_book: activity.trackable, caption: "has recommended this black book", owner: activity.owner}