.panel-body{
	position: relative;

}
.panel-card-section {
	padding: 0px 10px 10px 10px;
	background-color: white; 
	.media {
		overflow: inherit;
	}
}
.black-book-city {
	i {
		//color: $sunset-orange;
		margin-right: 10px;
	}
	&,h4 {
		margin-top: 0px;
		margin-bottom: 5px;
	}
}
.left10 {
	margin-left: 10px;
}
.top2 {
	position: relative;
	top: -2px;
}
.darken {
		position: absolute;
		top:0;
		left:0;
		height:100%;
		width: 100%;
		background-color: rgba(0,0,0,0.3);
		h1,h2,h3 {
			color: white;
	}
}
.drop-shadow {
	box-shadow: 0px 1px 1px #ccc;
}
.user-blackbooks, .activities {
	.tile-place {
		height:350px;
	}
}
#recommend-btn, .action-buttons {
	@include button-rounded(white);
	color: $froly;
	border: 1px solid $froly;
	padding: 5px 20px 5px 10px;
	min-width: 120px;

	&:hover, &:active {
		border: 1px solid $froly;
		color: white;
		background-color: $froly;
		background-opacity: 0.8; 
	}
}
#recommended-btn {
	@include button-rounded($froly);
	border: 1px solid $froly;
	padding: 5px 20px 5px 10px;

	&:hover, &:active {
		border: 1px solid $froly;
		color: $froly;
		background-color: white; 
	}
}
.vote-block {
	#follow-btn {
		padding: 5px 15px 5px 25px;
	}
}
.voters-block {
	margin: 5px 0;
	font-weight: $weight-light;
	font-size: $slightly-smaller-size;
}
.change-black-book-header {
	position: absolute;
	top: 80px;
	left: 20px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: white;
	color: black;
	padding-top: 25px;
	.input {
		margin: 0;
	}
	.upload {
		.upload-icon {
			color: grey;
			margin-right: 0;
		}
	}
	.btn-upload-background {
		@include button-rounded ($froly);
		border-radius: 50%;
		min-height: 50px;
		height:50px;
		min-width: 50px; 
		width: 50px;
		margin: 0;
		padding: 0;
	}
}
.shadow-title-edit {
	textarea {
		font-size: 36px;
		position: absolute;
		vertical-align: center;
		top: 50%;
		left: 0;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		color: black;
		font-weight: 600;
		text-align: center;
		background-color: transparent;
		border: none;
		color: white;
		&:active, &:focus {
			border:none;
			box-shadow: none;
			outline: none;
		}
	}
	#edit-black-book-title-submission {

		position: absolute;
		top: calc(50% + 72px);
		left: 0;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		color: black;
		text-align: center;
	}
}
.btn-special-shadow-treatment {
	@include button-rounded(white);
	background-color: transparent;
	border: 2px solid white;
	font-weight: 400;
	&:focus, &:hover, &:active,&:visited {
		border: 2px solid white;	
	}
}	