.cityguide-place {
	min-height: 300px;
	max-height: 500px;
	max-width: 1200px;
	background-size: cover;
}
@mixin cityguideplace {
  min-height: $cityguideplace-height;
  line-height: $cityguideplace-height;
  text-align:center;
  vertical-align: middle;
  min-width: 120px;
  color: $white;
  font-weight: $weight-light;
  
  h2 {
    line-height: $cityguideplace-height;
  }
}