.black_book-place {
	min-height: 300px;
	max-height: 500px;
	max-width: 1200px;
	background-size: cover;

}
.item {
  border: 1px solid transparent;
  animation: move 0.5s ease infinite;
}
.vertical-middle {
  vertical-align: middle;
  display: table-cell;
}
.row-space-4 {
  margin-bottom: 25px;
}
@mixin tile-place($bg-color) {
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: $bg-color;
  height: 250px;
  color: $white;
  font-weight: $weight-light;

  a {
    color: inherit;

    &:hover, &:focus {
      outline: none;
      text-decoration: none;
    }
  }
}
.tile-place {
  @include tile-place($sunset-orange);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  &:after{
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: $mac-n-cheese;
  }

  &:hover:after,&:active:after {
    height: 100%;
  }
}

.tile-full {
  @include tile-place(lightblue);
}

.tile-link {
  width: 100%;
  height: 100%;
}

.black_book-tile {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 10px;
}

.row-space-top-8 {
  margin-top: 50px;
}
.row-space-8 {
  margin-bottom: 50px;
}
.size-4 {
    height: 200px;
}
.archive-tile {
  position: absolute;
  top: 0;
  right: 5px;
}
.rank-square {
  position:absolute;
  border-radius: 50%;
  top:5px;
  left:5px;
  height: 40px;
  width:40px;
  background-color: rgba(255,255,255,0.9);
  text-align: center;
  h1 {
    @include centered_h1;
    color: $froly;
  }
}
.black_book-card {
  width: 100%;
  min-height: 300px;
  background-color: white;
  padding-bottom: 8px;
}
.cornered-top {   
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.black_bookplace-infos {
  clear:both;
  color: $gray-light;
  overflow: hidden;
  padding: 0 10px;
  h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: $sunset-orange;
    font-size: 20px; 
    text-transform: uppercase;
  }

  h4 {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $gray;
  }
  .attributes>strong, .attributes>p {
    float:left;
  }
  .attributes {
    p {
      padding-left: 5px;
      width: 200px;
      margin-bottom: 0px;
    }
  } 
}
.icon-attribution {
  overflow: hidden;
  .pin-icon {
    border-radius: 2px;
    display: inline-block;
    height: 16px;
    width: 16px;
  }
  .pin-image {
    position: relative;
    max-width: 100%;

    img {
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }

  .attribution-title {
    font-weight: normal;
    margin: 5px 7px 7px 5px;
    display: inline-block;
    vertical-align: 10%;
  }
}
#active-places-list, #archived-places-list {
  .tile-place, .tile-full {
    height: 300px;
  }
}