/* black_book */
.input--black_book {
	overflow: hidden;
}

.input__field--black_book {
	margin-top: 1em;
	padding: 0.85em 0.15em;
	width: 100%;
	background: transparent;
	color: #595F6E;
}

.input__label--black_book {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0.25em;
	width: 100%;
	height: calc(100% - 1em);
	text-align: left;
	pointer-events: none;
}

.input__label-content--black_book {
	position: absolute;
}

.input__label--black_book::before,
.input__label--black_book::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);
	border-bottom: 1px solid #B9C1CA;
}

.input__label--black_book::after {
	margin-top: 2px;
	border-bottom: 4px solid $froly;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--black_book-color-1::after {
	border-color: $sunset-orange;
}

.input__label--black_book-color-2::after {
	border-color: $froly;
}

.input__label--black_book-color-3::after {
	border-color: hsl(20, 100%, 50%);
}

.input__field--black_book:focus + .input__label--black_book::after,
.input--filled .input__label--black_book::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--black_book:focus + .input__label--black_book .input__label-content--black_book,
.input--filled .input__label-content--black_book {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

/* Kyo */
.input--black_book-story {
	z-index: auto;
}

.input__field--black_book-story {
	padding: 0.85em 1.5em;
	width: 100%;
	background: #fff;
	color: #535d92;
	margin-top: 45px;
	height: 400px;
}

.input__label--black_book-story {
	z-index: 0;
	width: 100%;
	text-align: left;
	position: absolute;
}

.input__label--black_book-story::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: $mac-n-cheese-transparent;
	opacity: 0.6; 
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	pointer-events: none;
}

.input__label-content--black_book-story {
	padding: 0.5em 0;
}

.input__field--black_book-story:focus,
.input__field--black_book-story:focus +  .input__label--black_book-story .input__label-content--black_book-story {
	z-index: 1000;
}

.input__field--black_book-story:focus + .input__label--black_book-story {
	color: #fff;
}

.input__field--black_book-story:focus + .input__label--black_book-story::after {
	opacity: 1;
}

.submit-button {
	@include button($sunset-orange);
	
	&:hover, &:active {
		color: white;
		border-color: $froly;
	}
}
.upload-icon {
	color: $froly;
}
#new-place-form {
	h1 {
		color: white;
	}
}