#new_black_book-place_modal {
	.input__field--black_book, 
	.input__label,
	.upload-icon {
		color: white;
	}
	.input__label--black_book-color-1::after {
		border-color: $white;
	}
	
}
.black_bookplace-button {
	@include button($white);
	color: $sunset-orange;
	&:hover {
		background-color: lightblue;
		color: $white;
	}
}
.md-close {
	position: absolute;
	top:0;
	right:5px;
	cursor:	pointer;
	color: white;
}