.place-main-wrapper {
	box-shadow: 0 1px 1px #ccc;
  background-color: $white;
  i {
    color: $sunset-orange;
  }
  .fa-facebook-official {
    color: $fbblue;
  }
  .fa-twitter {
    color: lightblue;
  }
}

.carousel {
	margin-right: -15px;
	.carousel-inner {
		.item {
			height: 400px;
			background-size: cover;
		  background-position: center;
		  border-top-left-radius: 4px;
		}
	}
	.carousel-control {
  		background: none;
	}
}
.place-main-data {
	margin-left: -15px;
	background-color: #ffffff;
  	padding: 5px 50px 5px 50px;
  	border-top-right-radius: 4px;
  	height: 200px;

  	h1 {
  		text-transform: uppercase;
  		color: $sunset-orange;
  		font-size: 20px;
  		margin-top: 10px;
  	}
  	.place-main-adress {
  		padding-top: 10px;
  		padding-bottom: 10px;
  		border-top: 1px solid #ccc;
  		border-bottom: 1px solid #ccc;
      line-height: 1.5em;
      font-size: 16px;

      

  		p {
  			top:0;
  			bottom: 0;
  			margin: auto 0;
  		}
  	}
}
.place-type {
  		background-color: $froly;
  		max-height:200px;
  		height: 120px;
  		top:0;
  		bottom:0;
  		position: relative;
  		margin-left: -15px;
  		.type-wrapper {
  			border-top: 2px;
  			position: absolute;
  			min-height: 1em;
  			max-height: 6em;
        margin: auto;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
  			top:0;
  			bottom: 0;
  			margin: auto 15%;
  			width: 70%;
        line-height: 50px;
        display: table;
  			
  			h1 {
	  			width: 100%;
          color: white;
          display: table-cell;
          vertical-align: middle;
          padding: 5px;

  			}
  		}
  	}
.picture-wrapper {
  margin-right: -15px;
  .place-picture {
    height: 400px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 4px;
  }
}
.place-attributes {
  padding-left: 10px;
  font-size: 16px;
  height: 80px;
  max-height: 80px;

  .attribute {
    text-align: left;
    margin-top: 4px; 
  }
}

.rating-wrapper {
   height:100%;

   h1{
    @include centered_h1;
    color: white;
   }
  }
.quote-left {
  color: $froly;
  margin-right: 10px;
}
.places-story {
  overflow: hidden;
  display: inline-block;
  font-size: $base-size;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
} 
.black-book-place-story {
  float:left;
  margin-left: 20px;
  max-width: 400px;

  a {
    color: $froly;
  }
}
.title-truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.place-user-info {
  
}  