.user-profile-pic {
	height:125px;
	width: 125px;
	border-radius: 8px;
	box-shadow: 0px 3px 2px #999;
	background-size: cover;
	background-position: center;
	margin: 0 auto 10px;
	overflow: hidden;


	img {
		max-width: 125px;
	}
}
#follow-btn {
	@include button-rounded(white);
	color: $sunset-orange;
	width: 100%;
	transition: border ease-in 0.2s;
	min-width: 120px;
	padding: 5px 10px 5px 15px;
	&:hover {
		border-bottom: none;
		border: 1px solid $froly;
	}
}
.underline-title {
	color: yellow;
	&:after {
		content: '';
		border-bottom: 1px solid #ddd;
		width:150px;
		display: block;
 		margin: 30px auto 0;
	}
}
.get-connected-dialog {
	text-align: center;
	overflow: auto;
}
.user-list {
	padding-bottom: 30px;
	overflow: scroll;
	margin-top: 400px;
	margin-bottom: 200px;
	min-height: 500px;
	max-height: 1000px;
	height: 70%; 
	.user-part {
		.user-list-item {
			padding: 20px 0 25px 0;
		}
	}	
}
.user-description {
	display: inline-block;
	vertical-align: top;
	max-width: 300px;
	margin-right: 0px;
	color: rgba(0,0,0,0.8);
	font-size: 16px;letter-spacing: -0.02em;
	font-weight: 700;
	font-style: normal;
	.link-overlay {
		color: rgba(0,0,0,0.8);
		.text-decoration: none;
	}
	.user-description-secondary {
	  margin-bottom: 0;
	  color: rgba(0,0,0,0.6);
	  font-size: 14px;
	  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	  letter-spacing: -0.02em;
	  font-weight: 100;
	  font-style: normal;
	}
	.user-description-secondary > p {
		display: -webkit-box;
		padding: 0;
		margin-bottom: 10px;
	}
}