= form_for(black_book, url:downvote_black_book_path, method: 'post', remote: true) do |f|
  = button_tag "Recommended", class: "btn", id: "recommended-btn", title: "Unrecommend this black book" do
  	i.fa.fa-heart-o
  	| Recommended