@mixin button($color) {
  line-height: $btn-height;
  padding: 0 $btn-horizontal-padding;
  min-width: 120px;
  color: $white;
  border-radius: 4px;
  margin-top: $btn-margin-top;
  border-radius: 2px;
  font-weight: $weight-light;
  background-color: $color;
  border-top: $btn-top-border-width solid $btn-top-border-color;
  border-right: $btn-right-border-width solid $btn-right-border-color;
  border-bottom: $btn-bottom-border-width solid $btn-bottom-border-color;
  border-left: $btn-left-border-width solid $btn-left-border-color;
  
  &:hover {
    background-color: lighten($color, 10%);
    border-bottom: ($btn-bottom-border-width * 2/3) solid $btn-bottom-border-color;
    margin-top: $btn-margin-top + ($btn-bottom-border-width  * 1/3);
  }

  &:active{
    margin-top: $btn-margin-top + $btn-bottom-border-width;
    border-bottom: none;
  }
}
/* General styles for all types of buttons */
.progress-button {
  position: relative;
  display: inline-block;
  padding: 0 60px;
  outline: none;
  border: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  line-height: 4;
}

.progress-button[disabled],
.progress-button[disabled].state-loading {
  cursor: default;
}

.progress-button .content {
  position: relative;
  display: block;
}

.progress-button .content::before,
.progress-button .content::after  {
  position: absolute;
  right: 20px;
  color: #0e7138;
  font-family: "icomoon";
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}

.progress-button .content::before {
  content: "\e600"; /* Checkmark for success */
}

.progress-button .content::after {
  content: "\e601"; /* Cross for error */
}

.progress-button.state-success .content::before,
.progress-button.state-error .content::after {
  opacity: 1;
}

.notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.progress-button .progress {
  background: #148544;
}

.progress-button .progress-inner {
  position: absolute;
  left: 0;
  background: $froly;
}
.progress-button[data-horizontal] .progress-inner {
  top: 0;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s, opacity 0.3s;
  transition: width 0.3s, opacity 0.3s;
}

/* Fill horizontal */
/* ====================== */

.progress-button[data-style="fill"][data-horizontal] {
  overflow: hidden;
}

.progress-button[data-style="fill"][data-horizontal] .content {
  z-index: 10;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.progress-button[data-style="fill"][data-horizontal] .content::before,
.progress-button[data-style="fill"][data-horizontal] .content::after {
  top: 100%;
  right: auto;
  left: 50%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.progress-button[data-style="fill"][data-horizontal].state-success .content,
.progress-button[data-style="fill"][data-horizontal].state-error .content {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}