@mixin button($color) {
  line-height: $btn-height;
  padding: 0 $btn-horizontal-padding;
  min-width: 120px;
  color: $white;
  border-radius: 4px;
  margin-top: $btn-margin-top;
  border-radius: 2px;
  font-weight: $weight-light;
  background-color: $color;
  border-top: $btn-top-border-width solid $btn-top-border-color;
  border-right: $btn-right-border-width solid $btn-right-border-color;
  border-bottom: $btn-bottom-border-width solid $btn-bottom-border-color;
  border-left: $btn-left-border-width solid $btn-left-border-color;
  
  &:hover {
    background-color: lighten($color, 10%);
    border-bottom: ($btn-bottom-border-width * 2/3) solid $btn-bottom-border-color;
    margin-top: $btn-margin-top + ($btn-bottom-border-width  * 1/3);
  }

  &:active{
    margin-top: $btn-margin-top + $btn-bottom-border-width;
    border-bottom: none;
  }
}
/* General styles for all types of buttons */
.progress-button {
  position: relative;
  display: inline-block;
  padding: 0 60px;
  outline: none;
  border: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  line-height: 4;
}