form {
	font-size: $bigger-size;
	font-weight: $weight-light;
	.upload {
		cursor:pointer;
		label {
			cursor: pointer;
			width: 60%;
			float: none;
			padding: 0;
		}
	}
}
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 400px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: $weight-light;
	font-size: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 0.8em 0;
	width: 100%;
}
.upload-icon {
	height:50px;
	width:50px;
	margin-right: 0.5em;
}

.textarea--black_book {
	display: block;
	width: 100%;
	min-height: 80px;
	padding: 6px 12px;
	font-size: 18px;
	line-height: 1.42857143;
	color: #555555;
	background-color: white;
	border: none;
	border-radius: 0px;
	webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: min-height ease 1s;

	&:focus {
		min-height: 150px;

	}
}