form {
	font-size: $bigger-size;
	font-weight: $weight-light;
	.upload {
		cursor:pointer;
		label {
			cursor: pointer;
			width: 60%;
			float: none;
			padding: 0;
		}
	}
}
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 400px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: $weight-light;
	font-size: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 0.8em 0;
	width: 100%;
}
.upload-icon {
	height:50px;
	width:50px;
	margin-right: 0.5em;
}

.textarea--black_book {
	display: block;
	width: 100%;
	min-height: 80px;
	padding: 6px 12px;
	font-size: 18px;
	line-height: 1.42857143;
	color: #555555;
	background-color: white;
	border: none;
	border-radius: 0px;
	webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: min-height ease 1s;

	&:focus {
		min-height: 150px;

	}
}
.form-user {
	margin-bottom: 25px;
	position: relative;;
	input.user-account {
  		width: 100%;
  		font-size: 45px;
	  	font-weight: 700;
	  	margin-bottom: 20px;

	  	&.light {
 			font-weight: $weight-light;
 		}
 		&:focus {
 			outline: none;
 			background-color: white;
 		}
	}

  	.user-account {
  		border: none;
  		padding: 0;
 		background-color: transparent;
 		transition: background-color ease-in 0.4s;
 	}
 	.btn-user-submit {
 		@include button(lightgreen);
 	}
 	.form-edit {
 		border:none;
 		background: transparent;
 		box-shadow: none;
 		font-size: $base-size;
 		padding:0;
 		height:auto;
 		cursor: inherit;
 	}
 	.btn-user-form-activate {
 		@include button-rounded(white);
 		color: lightgreen;
 		margin-right: 10px;
 		&:hover, &:focus {
 			border: 1px solid green;
 		}
 	}
 	.btn-user-form-cancel {
 		@include button-rounded(white);
 		color: $gray;
 		&:hover, &:focus {
 			color: black;
 			border: 1px solid black;
 		}

 	}
 	.form-edit-submit {
 		position: absolute;
 		right: 0;
 		top: 0;
 	}
}
.separator {
	position: relative;
	span {
		position: absolute;
		top: -7px;
		text-transform: uppercase;
		color: #999;
		font-size: 12px;
		letter-spacing: 1px;
		margin-left: 40px;
		padding: 0 10px;
		background: $background-grey;
	}	
}
#facebook-btn {
	@include button($fbblue);
	min-width: 250px;
	font-weight: $weight-light;
	&,.rounded {
	  border-radius: 99px;
	}
}
#twitter-btn {
	@include button($twitterblue);
	min-width: 250px;
	font-weight: $weight-light;
	&,.rounded {
	  border-radius: 99px;
	}
}
