html{

  min-height: 100%; 
  body {
   margin: 0;
  }
}
.background {
  text-align: center;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 230px;
  height: 100%
}

.search-wrapper{
    height: 600px;
 }
.landing-wrapper {
    background:asset-url('landing.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 35vh;
    height: 100%;
    color: white;
    position: relative;
    margin : 0;
  }

 .search-container {
  position: absolute;
  width: 90%;
  height: 90%;
  top:50px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  
  .va-container {
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 10%;

    h1 {
      color: white;
      font-size: 70px;
    }
  }
}
.search-banner {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
}

.video-wrapper{
    overflow: hidden;
    z-index: -1;
    height:100%;
    width: 100%;
    position: fixed;
  .welcome-video {
    width: 100%;
    bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    }
  }
.moto {
  min-height: 40vh;
  background: #FF4A50;
  color: white;
  text-align: center;
  width: 100%;
}
.moto-containers {
  margin-top: 8vh;
}

.moto-icon {
  height: 64px;
}

.home-section {
  padding: 30px 0 40px 0;
  background-size: cover;
  background-color: #FE9A29;
  font-size: 18px;
  color: rgb(137, 132, 132);
  position: relative;
  text-align: center;
  height: 50vh;

  .home-skill {
    box-shadow: 0 1px 2px #999;
    transform: translateZ(0);
    transition: box-shadow 0.25s ease-in;
    background-color: #fff;
    padding: 20px 10px 10px 10px;

    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
  }

  .introduction {
    color: #fff;
    font-size: 36px;
    color: #202630;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
    margin-bottom: 50px;

    h1 {
      font-weight: 600;
      font-size: 30px;
      color: #fff;
      letter-spacing: 0.125em;
    }

    p {
      letter-spacing: 0.125em;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      color: #fff;
      line-height: 1.75em;
      padding: 0px;
      height: 0px;
    }
  }

  h2 {
    font-size: 1.4em;
    font-family: open sans;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin-top: -6px;
    color: #333;
    padding: 10px;
    height: 140px;
  }

  @media all and (max-width: 992px) and (min-width: 768px) {
    p { height: 210px; }
  }

  @media only screen and (max-width: 767px) {
    .home-skill { margin-top: 20px; }
    p { height: 100px; }
  }

  @media only screen and (max-width: 400px) {
    p { height: 140px; }
  }
}

.icon {
  position: relative;
  background-color: #333;
  color: #fff;
  height: 64px;
  width: 64px;
  line-height: 64px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  opacity: 0.8;
}

.home-wish {
  padding: 2em 0 3em 0;
  background-size: cover;
  background-color: #fff;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: rgb(137, 132, 132);
  position: relative;
  text-align: center;

  h2 {
    font-family: 'Roboto';
    font-size: 25px;
    line-height: 1.7em;
    text-transform: uppercase;
    color: #333;
    padding-bottom: 1em;
  }

  a {
    color: #333;
    border: 2px solid #333;
    padding: 10px 30px;
    text-transform: Uppercase;
    font-weight: 600;

    webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

    &:hover {
      color: #fff;
      background-color: #333;
      border: 2px solid #333;
      text-decoration: none;
    }
  }
}

.cut-quote {
    background:asset-url('first.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 35vh;
    height: 100%;
    color: white;
    position: relative;
    margin : 0;
    text-align: center;

    blockquote {
      position: relative;
      margin: 0 auto;
      font-size: 2em;
      font-family: roboto;
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      border-left: none;
      padding: 140px 0;

      small {
        color: #fff;
        margin-top: 30px;
        font-family: open sans;
        text-transform: none;

        &:before {
          display: none;
        }
      }
    }

    @media only screen and (max-width: 531px) {
      blockquote { top: 20%; }
    }
  }

.cut-video {
  background:asset-url('test-home.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  color: white;
  position: relative;
  margin : 0;

  .container-video {
    margin: 0 auto;
    max-width: 600px;
  }

  .cut-scene-video {
    padding: 70px 40px;
  }
}

.cut-cover {
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}