html{

  min-height: 100%; 
  body {
   margin: 0;
  }
}
.background {
  text-align: center;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 230px;
  height: 100%
}

.search-wrapper{
    height: 600px;
 }
 .search-container {
  position: relative;
  width: 100%;
  height: 90%;
  top:50px;
  text-align: center;
  
  va-container {
    display: table;
    width: 100%;
    height: 100%;
  }
}

.video-wrapper{
    position: absolute;
    overflow: hidden;
    z-index: -1;
    top:0;
    right: 0;
    left:0;
    bottom:0;
  .welcome-video {
    width: 100%;
    position: absolute;
    bottom: 0;
    }
  }