li.col-xs-12.col-sm-6.col-md-4.cityguide-tile#new-place
	=link_to '', '#new_cityguide-place_modal', class: "tile-link md-trigger", 'data-modal' => "new_cityguide-place_modal"
	.tile-link
		h2 Add a new place
	