.nested-fields.form_group.
  = f.input :story, as: :text	
  = f.input :city_guide_id, as: :hidden, input_html: {value: @cityguide.id}
  = f.input :rank, as: :hidden, input_html: {value: (@cityguide.places.count + 1)}