div.container.padded-down
	div.row
		div.col-xs-12.div-col-sm-6.col-sm-offset-3
			h1
				= @city_guide.name
	div.row
		div.col-xs-12.col-sm-3
			= image_tag @city_guide.uploaded_files.last.file.url(:medium), class:"city-guide-pic"
		div.col-xs-12.col-sm-9
			div.col-xs-12
				ul.place-list.list-unstyled.ui-sortable#sortable
					- @city_guide_places.each do |city_guide_place|
						= render partial: 'show_place', locals: {place: city_guide_place.place, city_guide_place: city_guide_place }	
					= render 'add_place' if @city_guide_places.count < 5
			- if @city_guide_places.count >= 5
				div.col-xs-12
					p Want to add anew awesome place? You need to tick one out of your guide first, sorry :)
							
= content_for :js do
	= javascript_include_tag "city_guides/sortable_list.js"
	= javascript_include_tag "city_guides/foursquare.js"
	javascript:

		$(document).on('click', '#user_input_foursquare', function () {
			initFoursquare({
				city : #{{(@cityguide.city.gsub(" ","%20")+ "," + @cityguide.state).to_json}},
				city_guide_id : #{{@cityguide.id}}
				})
      		var city = #{{(@cityguide.city.gsub(" ","%20")+ "," + @cityguide.state).to_json}};
      		var $this = $(this);
      		var $that = $this.parentsUntil($('form #new_place'));
      		console.log($that);
      		$this.autocomplete({
      			source: function(request, response) {
      					fs_suggest(response, {
      						near: city, 
      						query: request.term
      						}
      					)
      				},
      			minLength : 3,
      			focus: function( event, ui ) {
      			        $this.val( ui.item.name );
      			        return false;
      			      },
      		  	select: function( event, ui ) {	
      		  	  fs_complete($that, ui.item)
      		  	  $this.val( ui.item.name );
      		  	  return false;
      		  	},	
      		});
      	});